[submodule "src/vendor/symfony"]
	path = src/vendor/symfony
	url = git://github.com/symfony/symfony.git
[submodule "src/vendor/bundles/Knplabs/PaginatorBundle"]
	path = src/vendor/bundles/Knplabs/PaginatorBundle
	url = git://github.com/knplabs/PaginatorBundle.git
[submodule "src/vendor/bundles/FOS/UserBundle"]
	path = src/vendor/bundles/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/UserBundle.git
[submodule "src/vendor/assetic"]
	path = src/vendor/assetic
	url = git://github.com/kriswallsmith/assetic.git
[submodule "src/vendor/doctrine"]
	path = src/vendor/doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "src/vendor/doctrine-dbal"]
	path = src/vendor/doctrine-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "src/vendor/doctrine-common"]
	path = src/vendor/doctrine-common
	url = git://github.com/doctrine/common.git
