[submodule "src/vendor/symfony"]
	path = src/vendor/symfony
	url = git://github.com/symfony/symfony.git
[submodule "src/vendor/bundles/Knplabs/PaginatorBundle"]
	path = src/vendor/bundles/Knplabs/PaginatorBundle
	url = git://github.com/knplabs/PaginatorBundle.git
[submodule "src/vendor/bundles/FOS/UserBundle"]
	path = src/vendor/bundles/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/UserBundle.git
[submodule "src/vendor/assetic"]
	path = src/vendor/assetic
	url = git://github.com/kriswallsmith/assetic.git
[submodule "src/vendor/doctrine"]
	path = src/vendor/doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "src/vendor/doctrine-dbal"]
	path = src/vendor/doctrine-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "src/vendor/doctrine-common"]
	path = src/vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "src/vendor/swiftmailer"]
	path = src/vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "src/vendor/twig"]
	path = src/vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "src/vendor/twig-extensions"]
	path = src/vendor/twig-extensions
	url = git://github.com/fabpot/Twig-extensions.git
[submodule "src/vendor/bundles/JMS/SecurityExtraBundle"]
	path = src/vendor/bundles/JMS/SecurityExtraBundle
	url = https://github.com/schmittjoh/SecurityExtraBundle.git
[submodule "src/vendor/bundles/Sensio/Bundle/FrameworkExtraBundle"]
	path = src/vendor/bundles/Sensio/Bundle/FrameworkExtraBundle
	url = https://github.com/sensio/SensioFrameworkExtraBundle.git
[submodule "src/vendor/monolog"]
	path = src/vendor/monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "src/vendor/doctrine-migrations"]
	path = src/vendor/doctrine-migrations
	url = https://github.com/doctrine/migrations.git
[submodule "src/vendor/doctrine-data-fixtures"]
	path = src/vendor/doctrine-data-fixtures
	url = https://github.com/doctrine/data-fixtures.git
