<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Start: Styles -->
        {# assetic filter="?yui_css", output="styles/default.css",
            "@MainBundle/Resources/sass/main.scss",
            "@AnotherBundle/Resources/sass/more.scss"
        %}
        <link href="{{ asset_url }}" rel="stylesheet" />
        {% endassetic #}
        {% block styles %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <!-- End: Styles -->
    </head>

    <body>
        {% block body %}{% endblock %}


        {% block scripts %}{% endblock %}
    </body>
</html>
