<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services
                        http://symfony.com/schema/dic/services/services-1.0.xsd">
    <imports>
        <import resource="defaults.xml" />

        <import resource="../../config/parameters.ini" ignore-errors="true"/>

        <import resource="../../config/db.xml"         ignore-errors="true" />
        <import resource="../../config/mail.xml"       ignore-errors="true" />


        <import resource="framework.xml" />
        <import resource="doctrine.xml" />
        <import resource="mailer.xml" />
        <import resource="security.xml" />
        <import resource="assetic.xml" />
        <import resource="monolog.xml" />

<!--    <import resource="jms_security_extra.yml" />-->
        <import resource="sensio_framework_extra.yml" />

        <import resource="knplabs_paginator.yml" />
        <import resource="fos_user.yml" />
    </imports>
</container>
